/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-inline-size: 320px;
    min-block-size: 100dvb;
    font-family: var(--main-font-family, sans-serif);
    font-variation-settings: "wght" var(--main-text-font-weight, 410);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: var(--bg-img-gradient);
}

.header {
    inline-size: var(--inline-size-block, 1440px);
    margin-block-end: 98px;
    margin-block-start: 100px;
    /*min-block-size: 23rem;*/
}

.header__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    padding-block: 128px;
    padding-inline: 122.5px;
    border: 2px solid #000000;
}

.header__title {
    font-family: var(--accent-font-family, fantasy);
    font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
    line-height: 100%;
    margin-block-end: 20px;
}

.header__subtitle {
    font-family: var(--accent-font-family, fantasy);
    font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
    line-height: 100%;
    text-transform: uppercase;
}

.main {
    inline-size: var(--inline-size-block, 1440px);
}

.cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card__image {
    /*background-size: cover;*/
    aspect-ratio: 1 / 1;
    object-fit: cover;
    background-position: center;
    inline-size: 100%;
    border-bottom: 2px solid #000000;
    border-top: 2px solid #000000;
}

.card__container-img {
    position: relative;
}

.header__title-img {
    position: absolute;
    z-index: 1;
    top: 25px;
    right: 25px;
    mix-blend-mode: hard-light;
    color: #000000;
    font-size: 14px;
    opacity: 0.5;
    font-family: var(--accent-font-family, fantasy);
    text-shadow: -1px 0 #fff,
    0 1px #fff,
    1px 0 #fff,
    0 -1px #fff;
}

@supports ((text-stroke: 1px #fff) or (-webkit-text-stroke: 1px #fff)) {
    .header__title-img {
        -webkit-text-stroke: 1px #fff;
        text-stroke: 1px #fff;
        text-shadow: none;
    }
}

.cars-title {
    padding: 4px 10px;
    font-size: 18px;
    font-variation-settings: "wght" var(--title-font-weight, 715);
    font-family: var(--main-font-family, fantasy);
}

.cards__text {
    inline-size: clamp(23.4rem, 100%, 90rem);
    padding-block-start: 25px;
    padding-block-end: 25px;
    padding-inline-start: 25px;
    padding-inline-end: 33px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    font-size: 18px;
    line-height: 21px;
    font-variation-settings: "wght" var(--main-text-font-weight, 410);
}

.cards__list {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.card__buttons {
    display: flex;
    justify-content: end;
    align-items: center;
    background-color: transparent;
    gap: 7px;
    margin-block-end: 25px;
    margin-inline-end: 25px;
}


.card__item {
    border: 2px solid #000000;
    background-color: #FFFFFF;
}

.dialog__section {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-img-gradient);
    margin-block-start: 50px;
    margin-block-end: 100px;
}

.dialog__open {
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
    border: 2px solid #000000;
    padding: 13px 18px;
    outline: none;
}

.dialog__open svg {
    inline-size: 21px;
}

.button__text--save {
    font-size: 14px;
    line-height: 90%;
}

.dialog[open] {
    /*top: 0;*/
    /*margin-block-start: 384px;*/
    /*right: 17px;*/
    /*left: 17px;*/
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 30px;
    padding-block: 30px;
    padding-inline: 30px;
    /*position: fixed;*/
    border: 2px solid #000000;
    /*max-block-size: 191px;*/
    inline-size: 353px;
    overflow: hidden;
}

.dialog__contant {
    grid-row: 1;
    display: flex;
    align-items: center;
}

.dialog-icon {
    width: 39px;
    margin-block: 12px;
    margin-inline-end: 16px;
    flex-shrink: 0;
}

.dialog__title {
    text-transform: uppercase;
    font-variation-settings: "wght" var(--main-text-font-weight-dialog, 400);
    font-size: var(--font-size-mini, 14px);
    line-height: 150%;
    font-family: var(--accent-font-family, fantasy);
}

.button__close {
    grid-row: 2;
    justify-self: center;
    align-self: center;
    width: 100%;
    padding-block: 8px;
    outline: none;
    padding-inline: 114.5px;
    background-color: #fff;
}

dialog::backdrop {
    background-color: rgba(0 0 0 / 0.75);
}

.filter-sepia {
    filter: sepia(50%);
}

.filter-opacity-sepia-contrast {
    filter: sepia(30%) contrast(100%) opacity(90%);
}

.filter-brightness {
    filter: brightness(90%);
}

.filter-grayscale {
    filter: grayscale(40%);
}

.filter-invert {
    filter: invert(20%);
}

.filter-blur {
    filter: blur(5px);
}

.filter-hue-rotate {
    filter: hue-rotate(200deg);
}

.button__icon:hover {
    color: #fff;
    mix-blend-mode: difference;
}

.button__text {
    position: relative;
    z-index: 2;
    font-family: var(--accent-font-family, fantasy);
}

.button__close:focus-visible {
    box-shadow: 2px 2px #000000;
}

.card__like-button {
    border: 2px solid #000000;
    inline-size: 130px;
    block-size: 38px;
    background-color: #ffffff;
}

.card__like-button:focus-visible {

    outline: none;
    box-shadow: 2px 2px #000000;
}

.dialog__open:focus-visible {
    box-shadow: 2px 2px #000000;
}

.card__icon-button {
    display: flex;
    border: 2px solid transparent;
    padding: 0;
    background: transparent;
    transition: border-color 0.3s ease;
    cursor: pointer;
    /*justify-content: end;*/
    /*appearance: none;*/
    /*place-items: center;*/
}

.card__icon-button:focus {
    outline: none;
}

.card__icon-button:focus-visible {
    border-color: #000000;
}

.card__button {
    position: relative;
    z-index: 1;
    transition: box-shadow 0.3s ease;
    cursor: pointer;
    overflow: hidden;
    appearance: none;
}

   .card__button:focus {
    outline: none;
}

.card__button::after {
    content: '';
    z-index: 5;
    position: absolute;
    inset: 0;
    inline-size: 100%;
    block-size: 100%;
    transition: transform 0.5s ease-in-out;
    background-color: #000000;
    transform: scaleX(0);
    transform-origin: left;
}

.card__button:hover {
    /*color: #FFFFFF;*/
}

.button__text,
.button__icon {
    color: #ffffff;
    mix-blend-mode: difference;
}

.card__button:hover::after {
    transform: scaleX(1);
    mix-blend-mode: difference;
}

.like-icon {
    margin-right: 4px;
    padding: 0;
    width: 100%;
}

@media (width <= 375px) {
    .header__container {
        padding-block: 120px;
        padding-inline: 16px;
    }

    .header {
        /*min-block-size: 20.43rem;*/
    }

    .dialog__open {
        flex-direction: column;
    }

    .dialog__open svg {
        inline-size: 28px;
    }

    .dialog[open] {
        top: 0;
        padding-inline: 40px;
        inline-size: 341px;
        margin-block-start: 236px;
    }
}

/*for animations*/
.heart {
    display: flex;
    background-size: cover;
}

.like-icon .core {
    fill: var(--contour-color-transparent, #ffffff);
    transition: fill 0.1s linear;
}

.like-icon .main-body {
    transition: fill 0.3s linear;
    fill: var(--contour-color-transparent, #ffffff);
}

.like-icon:hover .core {
    fill: var(--contour-color, #000000);
    transition: fill 0.3s linear;
}

.like-icon:hover .main-body {
    fill: var(--contour-color, #000000);
    transition: fill 0.3s linear 0.05s;
}

.like-icon:active .core {
    fill: var(--animation-fill-color, #FF0000);
    transition: fill 0.3s linear;
}

.like-icon:active .main-body {
    fill: var(--animation-fill-color, #FF0000);
    transition: fill 0.3s linear 0.05s;
}

.like-icon.is-liked .core {
    fill: var(--animation-fill-color, #FF0000);
    transition: fill 0.3s linear;
}

.like-icon.is-liked .main-body {
    fill: var(--animation-fill-color, #FF0000);
    transition: fill 0.3s linear 0.05s;
}

.like-icon.is-liked .conture {
    fill: var(--animation-fill-color, #FF0000);
    transition: fill 0.3s linear 0.06s;
}

.like-icon.is-liked .heart {
    animation: heart 0.3s ease-in 0.1s 1;
    transform-origin: center;
    fill: var(--animation-fill-color, #FF0000);
}

.like-icon.is-liked .sparks {
    animation: sparks 0.3s ease-in 0.3s 1;
    transform-origin: center;
}

.like-icon .sparks {
    opacity: 0;
}